.dogwalk {
    width  :auto;
    height : 150px;
    top : 30px;
    position : absolute;
    left : 90%;
    -webkit-animation: walk 10s;
    animation-iteration-count : infinite;
    animation-timing-function : ease-in-out;
}


@-webkit-keyframes walk { /* Safari and Chrome */
  from {
      left:100%;
  }
  to {
      left:0%;
  }
}
