@meta charset "utf-8";

.like {
	-webkit-animation: fadeOut 2.0s;
}
.like.hidden {
	 display : none;
}


@-webkit-keyframes fadeOut { /* Safari and Chrome */
  from {
      opacity:1;
  }
  to {
      opacity:0;
  }
}