body {
	margin : 0 auto;
}

ul { 
   font-size: 15px; line-height: 30px;
}

.map {
	  position:relative;
	  width:  100%;
      height: 800px;   
      border : solid 3px grey;
}

.dogimg {
	position :relative;
	width : 100%;
	height : 200px;
	border-radius: 5%;
}

.tradeinfo{
	position: relative;
	background-color: rgba( 100, 100, 100, 0.7 );
	color :white;
	border-radius: 5%;
	width : 110%;

}

.tradeinfo:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 22px solid transparent;
	border-top-color: rgba( 100, 100, 100, 0.7 );
	border-bottom: 0;
	border-left: 0;
	margin-left: -11px;
	margin-bottom: -22px;
}
.tradelist {
	list-style:none;
	font-size : 16px;
}

.overlaybox {
    position:absolute;;
	width: 560px;
	height: 660px;
	background-color: rgba( 255, 255, 255, 0.8 );
	top: -330px;
	left : 100px;
	border-radius: 5%;
}

.overlaybox.hidden {
	display : none;
}

.title-header{
	position:relative;
	height:15%;
	
}

.page-header-content{
	top:-30px;
	height:15%;
	position:absolute;
}

.area_1 {
	position:relative;
	padding :5px;
}

.list{
	padding:5px;
	list-style:none;
}


.title {
	border-radius: 10%;
	background-color: rgba( 20, 200, 205, 0.1 );
}

.inputtext {
	width : 93%
}

.btn.btn-withcolor.smit {
	position:relative;
	width : 100%;
	top : 20px;
}

.item_2 {
	display:flex;
}

.btn.btn-red.btn-icon.cancle {
	position:relative;
	left : 35%;
}

.page-header.page-header-light.pb-10 {
	background-image :url("/image/backgroundimg.jpg");
}
.headerdog  {
	position : absolute;
	width : 50%;
	height : 175%;
	left : 90%
}
.dogstand{
	position:absolute;
	width : 100%;
	height : 150px;
	left : 200px;
	top: -30px;
}

.doghello {
	position:absolute;
	width : 100px;
	height : 100px;
	left : 500px;
	top: -60px;
	
}

.doghello.in {
	-webkit-animation: fadeIn 1.5s;
}
.doghello.out {
	-webkit-animation: fadeOut 1.5s;
}

@-webkit-keyframes fadeIn { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@-webkit-keyframes fadeOut { /* Safari and Chrome */
  from {
      opacity:1;
  }
  to {
      opacity:0;
  }
}



.doghello.hidden {
	display : none;
}