.dogimg {
	position : relative;
	margin : 20px;
	width : 20%;
	height : 300px;
	border-radius: 60%;
}

.list {
	margin : 20px;
	position :relative;
	width : 65%;
	line-height: 40px;
	list-style:none;
	padding-left:0px;
	
}

.icons {
	width :35px;
	height : 35px;
}

.card-body {
	display : flex;
}