<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		  "http://mybatis.org/dtd/mybatis-3-config.dtd">
		  
<configuration>
	<typeAliases>
		<typeAlias type="a.b.c.com.member.vo.MemberVO" alias="MemberVO" />
		<typeAlias type="a.b.c.com.member.vo.MemberAuth" alias="MemberAuth" />
		
		<typeAlias type="a.b.c.com.map.vo.MapTradeVO" alias="MapTradeVO" />
		
		<typeAlias type="a.b.c.com.pet.vo.PetVO" alias="Pet"/>	
		
		<typeAlias type="a.b.c.com.agency.vo.OfferVO" alias="OfferVO" />
		<typeAlias type="a.b.c.com.agency.vo.ConditionVO" alias="ConditionVO" />
		<typeAlias type="a.b.c.com.agency.vo.AgencyVO" alias="AgencyVO" />
	</typeAliases>
</configuration>